* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

container {
    display: flex;
}

main {
    max-width: 1000px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
}

.question {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.answer {
    font-size: 17px;
}

ol {
    margin-left: 40px;
    list-style-position: inside;
}

li {
    margin: 20px 0;
}

li::before {
    content: "";
    width: 15px;
    display: inline-block;
}

.letters {
    list-style-type: lower-alpha;
}